# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local
db.sqlite3

# Imagens enviadas pelo painel
media/

# Variáveis e informações privadas
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos estáticos coletados
staticfiles/